@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* COLOR AND SIZING ROOTS */
:root{
    --primary-color: rgba(255, 84, 0, 1);
    --secondary-color: rgba(255, 255, 255, 1);
    --secondary-color-light: rgba(255, 255, 255, 0.3);
    --heading-color: rgba(19, 19, 24, 1);
    --text-primary-color:rgba(19, 19, 24, 0.7);
    --text-secondary-color: rgba(90, 90, 93, 1);
    --footer-color: rgba(19, 19, 24, 0.05);

    --container-width: 70%;
}


/* FONT STYLES */
html{
    font-size: 62.5%;
}
body {
    font-family: "Mulish", sans-serif;
}
h1{
    font-size: 6.4rem;
    font-weight: 800;
    color: var(--secondary-color);
}
h2{
    font-size: 4rem;
    font-weight: 800;
    color: var(--heading-color);
}
h3{
    font-size: 2.8rem;
}
h4{
    font-size: 2.4rem;
}
h5{
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
}
p{
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--text-secondary-color);
}
li{
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--text-secondary-color);
}
.logo{
    font-size: 3.6rem;
    font-weight: 800;
}
button{
    font-size: 2rem;
}


/* UNIVERSAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: var(--container-width);
    margin: 0 auto;
    max-width: 1440px;
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
    height: fit-content;
}
.logo-color{
    color: var(--primary-color);
}
.btn-primary{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    width: 17.4rem;
    height: 5.2rem;
    border-radius: .8rem;
}
.fluid{
    max-width: 100%;
    height: auto;
}


/* NAVBAR STYLES  */
.navbar-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    overflow: hidden;
}
.home{
    color: var(--primary-color);
    font-weight: 700;
}
.nav-link>ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}
.hamburgar{
    display: none;
}


/* HERO STYLES */
.hero-div{
    background-image: linear-gradient(180deg, var(--heading-color) -20%, transparent 100%), url('../assets/Hero\ BG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.6rem;
    text-align: center;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80rem;
    gap: 2.4rem;
}
.find-now-form{
    background-color: var(--secondary-color-light);
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding: 1.6rem;
    width: 80rem;
    margin: 0 auto;
}
.hero-text{
    color: var(--secondary-color);
}
.hero-input, .hero-select{
    border: none;
    border-radius: .8rem;
    width: 17.4rem;
    height: 5.2rem;
    padding-left: 2rem;
}
.hero-input:focus{
    outline: none;
}
.hero-select:focus{
    outline: none;
}


/* Our Popular Tours (opt) */
.opt-main-div{
    margin-top: 10rem;
    display: flex;
    gap: 5rem;
}
.opt-text-div{
    width: calc(100% - 30% - 5rem );
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.opt-text-div>ul{
    padding-left: 3rem;
}


/* Choose Your Destination (cyd) Styles */
.cyd-main-div{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}
.cyd-text-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}
.cyd-text{
    width: 64rem;
}
.destination-names{
    color: var(--secondary-color);
}
.image-div{
    height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cyd-image-div-rows{
    display: flex;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
}
.row-1-image-maldives{
    background-image: linear-gradient(180deg, var(--heading-color) -20%, transparent 100%), url('../assets/Maldivs.png');
    width: 50%;
}
.row-1-image-indonesia{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.137)), url('../assets/Indonedia.png');
    width: 50%;
}
.row-1-image-srilanka{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.137)), url('../assets/Srilanka.png');
    width: 35%;
}
.row-1-image-north-america{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.137)), url('../assets/North\ America.png');
    width: 40%;
}
.row-1-image-kashmir{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.137)), url('../assets/Kashmir.png');
    width: 25%;
}
.row-1-image-bangladesh{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.137)), url('../assets/Bangladesh.png');
    width: 60%;
}
.row-1-image-greenland{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.137)), url('../assets/Greenland.png');
    width: 40%;
}


/* Why Choose Us Styles */
.wcu-main-div{
    margin-top: 7.6rem;
}
.wcu-text-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 4.8rem;
}
.wcu-icon{
    width: 7rem;
}
.wcu-card-div-r1, .wcu-card-div-r1{
    display: flex;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
    margin-top: 2.4rem;
}
.card-div{
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    border-radius: 1.6rem;
    padding: 4rem;
    width: calc((100% - 2.4rem) / 2);
}
.hotel{
    background-color: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.2);
}
.service{
    background-color: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.2);
}
.price{
    background-color: rgba(233, 68, 68, 0.05);
    border: 1px solid rgba(233, 68, 68, 0.2);
}


/* Deals and Discounts */
.dnd-main-div{
    margin-top: 10rem;
}
.dnd-text-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 4.8rem;
}
.icon-color{
    color: var(--primary-color);
}
.icon-color:not(:first-child){
    margin-left: 24px;
}
.offer-div{
    display: flex;
    padding: 4rem;
    gap: 5rem;
}
.dnd-card-div{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem
}
.dnd-offer-div-1{
    background-image: url('../assets/Tour\ To\ Satorini\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.6rem;
    margin-bottom: 2.4rem;
}
.dnd-offer-div-2{
    background-image: url('../assets/Tour\ To\ Satorini\ \(2\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.6rem;
    margin-bottom: 2.4rem;
    display: flex;
}
.dnd-offer-div-3{
    background-image: url('../assets/Tour\ To\ Satorini\ \(3\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.6rem;
    margin-bottom: 2.4rem;
}
.div-1-1, .div-2-2, .div-3-1{
    width: 60%;
}


/* Simple Perfect Place styles */
.spp-video-div{
    display: flex;
    align-items: center;
}
.video-div{
    border-radius: 1.6rem;
}
.spp-main-div{
    margin-top: 10rem;
    display: flex;
    gap: 5rem;
}
.spp-text-div{
    width: calc(100% - 30% - 5rem );
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.spp-text-div ul{
    color: var(--heading-color);
    padding-left: 3rem;
}


/* NEWSLETTER */
.newsletter-div{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 10rem;
}
.newsletter-image-div{
    background-image: url(../assets/Newsletter\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 422px;
    border-radius: 1.6rem;
    position: relative;
}
.ticket-link{
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--secondary-color);
}
.ticket-item{
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--secondary-color);
}
.ticket-div{
    background-color: var(--primary-color);
    border-radius: 1.6rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 40px;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    transform-origin: left bottom;
    transform: rotate(-25deg);
}
.newsletter-form-div{
    border: 1px solid var(--primary-color);
    border-radius: 1.6rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.7rem;
    width: 50%;
}
.newsletter-form-div input{
    border: none;
    border-radius: .8rem;
    background-color: var(--footer-color);
    width: 100%;
    height: 5.2rem;
    padding-left: 2rem;
}
.newsletter-form-div input:focus{
    outline: none;
}
.newsletter-head{
    font-weight: 800;
}


/* FOOTER STYLES */
.footer{
    background-color: var(--footer-color);
    height: 50rem;
    display: flex;
    align-items: center;
}
.footer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
}
.footer-text{
    text-align: center;
}
.footer-icon{
    color: var(--heading-color);
    display: flex;
    gap: 3rem;
    padding: 3rem 0 5rem 0;
    font-size: 3rem;
}
.footer-icon-div{
    display: flex;
    justify-content: center;
    border-bottom: 1px lightgray solid;
}
.footer-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.footer-logo, .footer-pera, .footer-icon-div {
    width: 70%;
    text-align: center;
}
.copyright{
    padding-top: 5rem;
}




@media screen and (max-width:576px) {

    :root{
        --container-width: 95%;
    }
    html{
        font-size: 62.5%;
    }
    h1{
        font-size: 3rem;
        font-weight: 800;
        color: var(--secondary-color);
    }
    h2{
        font-size: 4rem;
        font-weight: 800;
        color: var(--heading-color);
    }
    p{
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    .logo{
        font-size: 2.2rem;
        font-weight: 800;
    }
    button{
        font-size: 1.6rem;
    }

    /* navbar style */
    .nav-link{
        display: none;
    }
    .hamburgar{
        display: block;
        font-size: 3.5rem;
    }

    /* HERO RES STYLE */
    .hero-div{
        height: 58rem;
    }
 
    /* Shared Responsive Style */
    .hero-text,
    .find-now-form{
        width: 95%;
    }

    .newsletter-image-div,
    .newsletter-form-div,
    .hero-input, 
    .hero-select, 
    .find-now-form>.btn-primary,
    .opt-text-div,
    .image-div,
    .cyd-text,
    .card-div,
    .spp-text-div{
        width: 100%;
    }

    .opt-text-div,
    .spp-text-div{
        padding: 1rem;
    }

    .opt-main-div,
    .cyd-main-div, 
    .wcu-main-div, 
    .dnd-main-div,
    .newsletter-div,
    .spp-main-div{
        margin-top: 3rem;
    }

    .find-now-form,
    .opt-main-div,
    .wcu-card-div-r1, 
    .wcu-card-div-r1,
    .opt-main-div,
    .cyd-image-div-rows,
    .offer-div,
    .spp-main-div{
        flex-direction: column;
    }

    .dnd-offer-div-2,
    .newsletter-div{
    flex-direction: column-reverse;
    }
}